.main-container {
  width: 900px;
}

.left-container {
  width: 650px;
}

.right-container {
  width: 250px;
}

.logo-size {
  font-size: 25px;
}

.btn-outline-dark.dropdown-toggle {
  padding: 0 5px;
  margin: 0;
  border: none;
}

#dropdown-menu-align-right.dropdown-toggle {
  border: none;
  padding-top: 8px;
}

.option-container {
  width: 400px;
  margin-left: 100px;
}

.add-button.btn-outline-dark {
  padding: 0;
  border: 0;
  border-width: 0px;
  border: none;
  background-color: none;
}

.add-button.btn-outline-dark:hover {
  color: royalblue;
  background-color: transparent;
}

.delete-button.btn-outline-danger {
  padding: 0;
  border: 0;
  border-width: 0px;
  border: none;
  background-color: none;
}

.delete-button.btn-outline-danger:hover {
  color: black;
  background-color: transparent;
}
